
link(rel='stylesheet' href='stylesheets/chat.css')
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' type='text/css' rel='stylesheet' <='' head='')
- var i=0;
    mixin docs(id, Name)
        .chat_list.active_chat(onclick='getMessages('+id+')')
            .chat_people
                .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                .chat_ib
                    h5
                        | #{Name}
                        span.chat_date Dec 25
                    p
                        //| Test, which is a new approach to have all solutions
                        //| astrology under one roof.

.container
    h3.text-center Messaging
    .messaging
        .inbox_msg
            .inbox_people
                .headind_srch
                    .recent_heading
                        h4 Recent
                    .srch_bar
                        .stylish-input-group
                            input.search-bar(type='text' placeholder='Search')
                            span.input-group-addon
                                button(type='button')
                                    i.fa.fa-search(aria-hidden='true')
                .inbox_chat
                    -for (let i = 0; i < groups.length; i++)
                        +docs(groups[i].id,groups[i].name)
            .mesgs
                .msg_history#msgs
                    //.incoming_msg
                    //    .incoming_msg_img
                    //        img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                    //    .received_msg
                    //        .received_withd_msg
                    //            p
                    //                | Test which is a new approach to have all
                    //                | solutions
                    //            span.time_date  11:01 AM    |    June 9
                    //    .incoming_msg
                    //        .incoming_msg_img
                    //            img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                    //        .received_msg
                    //            .received_withd_msg
                    //                p
                    //                    | Test which is a new approach to have all
                    //                    | solutions
                    //                span.time_date  11:01 AM    |    June 9
                    //.outgoing_msg
                    //    .sent_msg
                    //        p
                    //            | Test which is a new approach to have all
                    //            | solutions
                    //        span.time_date  11:01 AM    |    June 9
                .type_msg
                    .input_msg_write
                        input.write_msg#inputMsg(type='text' placeholder='Type a message')
                        button.msg_send_btn(type='button' onclick='sendMsg()')
                            i.fa.fa-paper-plane-o(aria-hidden='true')

script(src='javascripts/chat.js' )
