link(href='stylesheets/tinder.css' rel='stylesheet')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
body.tinder
    .tinder--status
        i.fa.fa-wine-bottle
        i.fa.fa-times
    .tinder--cards
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/Piccione/paolo3.jpg?raw=true')
            h3 Paolo Piccione
            p
                b Campus:
                |  Cidade Universit&aacute;ria
                b Mat&eacute;ria:
                |  Vetores e Geometria
            p
                b Descri&ccedil;&atilde;o:
                |  Bon dia beninos, primeiro, aceitem que voc&ecirc;s s&atilde;o crian&ccedil;as no mundo da matem&aacute;tica. Eu estou aqui pra facilitar o seu processo, mas s&oacute; se voc&ecirc; quiser. Eu n&atilde;o fa&ccedil;o quest&atilde;o que venha nas minhas aulas, nem fa&ccedil;a as minhas listas. Vou entrar sem pressa com meu caf&eacute;. Podemos fazer um coffebreak se quiser. &Eacute; f&aacute;cil ver que eu me sinto muuito culpado por n&atilde;o estar dando aula.
                | As vezes vou viajar, me exercito... Existe algum outro curso em que voc&ecirc; j&aacute; viu isso antes?
                | Que tal uma aula de exerc&iacute;cios?
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/Carlinhos/carlos5.png?raw=true')
            h3 Carlinhos
            p
                b Campus:
                |  Cidade Universit&aacute;ria
                b Mat&eacute;ria:
                |  Introdu&ccedil;&atilde;o a computa&ccedil;&atilde;o
            p
                b Descri&ccedil;&atilde;o:
                |  Bacana, bacana voc&ecirc;s est&atilde;o querendo ver que minha aula &eacute; legal. Fazemos um monte de programinha, resolvemos uns exerc&iacute;cios, coloco um exerc&iacute;cio na P1 pra voc&ecirc; falar
                b
                    span.class1 mal
                |  bem... mas voc&ecirc; sabe que eu sou meio esquecido, n&eacute;? O que &eacute; um &quot;break;&quot;? E um ponteiro? Voc&ecirc;s v&atilde;o ver que d&aacute; pra fazer muita coisa sem eles, por bem ou por mal, n&atilde;o &eacute; mesmo? Aceite que isso n&atilde;o &eacute; uma democracia, mas vai dar tudo certo no final :)
                | O importante &eacute; aprender.
                | Pra dar uma ajuda, vou usar a m&eacute;dia geom&eacute;trica pra calcular a nota de voc&ecirc;s :D, (ps: 4,9 n&atilde;o &eacute; 5).
        .tinder--card
            img(src='http://www2.sbc.org.br/cradsp/eradsp/2017/wp-content/uploads/sites/12/2017/03/PauloSouza-264x300.jpg')
            h3 Paulo Sergio
            p
                b Campus:
                |  ICMC
                b Mat&eacute;ria:
                |  Evolu&ccedil;&atilde;o Hist&oacute;rica da Computa&ccedil;&atilde;o e Aplica&ccedil;&otilde;es
            p
                b Descri&ccedil;&atilde;o:
                | Adoro viajar e contar hist&oacute;rias. Esfrego na sua cara os lugares que j&aacute; visitei. Pe&ccedil;o uma monografia de 100 p&aacute;ginas para uma disciplina de 2 cr&eacute;ditos.
        .tinder--card
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCdw9OdLBWi2SungNd23ZaOoGlwCy9twte5rKbeCih_RUbjhJO')
            h3 Daniel Levcovitz
            p
                b Campus:
                |  ICMC
                b Mat&eacute;ria:
                |  Matem&aacute;tica Discreta
            p
                b Descri&ccedil;&atilde;o:
                | N&atilde;o entendi esse app... L&aacute; em casa s&atilde;o os alunos que procuram os professores.
                | Sempre confundo o seu nome, apesar de perguntar v&aacute;rias vezes.
                | Meus hobbies: ler o livro do Coutinho e brigar com alunos que levam o celular pra sala de aula.
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/Fernando%20Auil/auil5.png?raw=true')
            h3 Fernando Auil
            p
                b Campus:
                |  EACH
                b Mat&eacute;ria:
                |  C&aacute;lculo I
            p
                b Descri&ccedil;&atilde;o:
                |  de riso f&aacute;cil, mas um pouco t&iacute;mido, gosto que voc&ecirc; aprenda bem o conte&uacute;do, nem que tenha que voc&ecirc; tenha de fazer a mat&eacute;ria de novo... e eu vou ficar de olho pra voc&ecirc; n&atilde;o colar!
                | De hobbies, gosto de malhar. Acaba que isso &eacute; um pouco &uacute;til em sala tamb&eacute;m, as vezes gosto de levantar umas carteiras ;).
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/Mandel/mandel2.png?raw=true')
            h3 Arnaldo Mandel
            p
                b Campus:
                |  Cidade Universit&aacute;ria
                b Mat&eacute;ria:
                |  FUMAC
            p
                b Descri&ccedil;&atilde;o:
                |  Vejamos... Supondo que voc&ecirc; seja um estudante, na classe do BCC ou BSI, quais s&atilde;o as defini&ccedil;&otilde;es que voc&ecirc; tem que ter antes de entrar no curso? Entenda, o que n&oacute;s temos aqui n&atilde;o &eacute; um curso trivial, intuitivamente podemos afirmar que ele reflete em todas as mat&eacute;rias, mas indiretamente. Abstraia. Essas coisas voc&ecirc;s v&atilde;o entender mais pra frente, mas por hora podemos aceitar assim.
                | Quando chegarmos na mat&eacute;ria de tomatinhos, voc&ecirc;s v&atilde;o perceber que eu sou um g&ecirc;nio incompreendido.
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/Simoes/simoes3.png?raw=true')
            h3 Eduardo Sim&otilde;es
            p
                b Campus:
                |  ICMC
                b Mat&eacute;ria:
                |  Eletr&ocirc;nica para computa&ccedil;&atilde;o
            p
                b Descri&ccedil;&atilde;o:
                |  Meu hobbie &eacute; construir drones e explodir rob&ocirc;s. Tamb&eacute;m adoro conversar sobre coisas aleat&oacute;rias. Venha ter aula comigo, eu passo todo mundo! TIRA A TAMPA!
        .tinder--card
            img(src='https://github.com/lune-omena/images_hackfools/blob/master/luciano_araujo/luciano3.jpeg?raw=true')
            h3 Luciano Araujo
            p
                b Campus:
                |  EACH
                b Mat&eacute;ria:
                |  Fundamentos de Sistemas de Informa&ccedil;&atilde;o
            p
                b Descri&ccedil;&atilde;o:
                |  Vamos para a aula! Gosto bastante de conversar, tanto sobre a aula quanto coisas da vida, ent&atilde;o sinta-se livre pra se abrir comigo. Dizem que me expresso bem, mesmo que as vezes os estudantes se entertam com o meu tique com as m&atilde;os.
    .tinder--buttons
        button#nope
            i.fa.fa-times
        button#love
            i.fa.fa-wine-bottle
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src='https://hammerjs.github.io/dist/hammer.min.js')
script(src='javascripts/tinder.js')