include mixin
link(href='stylesheets/style.css' rel='stylesheet')
link(href='stylesheets/tinder.css' rel='stylesheet')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
- var i=0;
    mixin list(name)
        p #{name}
    mixin docs(id, name, photo, age, alcohol, interests, places)
        .tinder--card
            img(src=photo)
            h3 #{name}, age
            p
                b Предпочитает напитки: \n
                -for (let i = 0; i < alcohol.length; i++)
                    +list(alcohol[i])
                b \n Интересы
                -for (let i = 0; i < interests.length; i++)
                    +list(interests[i])

body
    .container
        +menu()
    .tinder
        .tinder--status
            i.fa.fa-wine-bottle
            i.fa.fa-times
        .tinder--cards
            -for (let i = 0; i < result.length; i++)
                +docs(result[i].id,result[i].firstName, result[i].photo,
                    result[i].age,
                    result[i].alcohol,
                    result[i].interests
                )
            //.tinder--card
            //    img(src='https://github.com/lune-omena/images_hackfools/blob/master/Piccione/paolo3.jpg?raw=true')
            //    h3 Paolo Piccione
            //    p
            //        b Campus:
            //        |  Cidade Universit&aacute;ria
            //        b Mat&eacute;ria:
            //        |  Vetores e Geometria
            //    p
            //        b Descri&ccedil;&atilde;o:
            //        |  Bon dia beninos, primeiro, aceitem que voc&ecirc;s s&atilde;o crian&ccedil;as no mundo da matem&aacute;tica. Eu estou aqui pra facilitar o seu processo, mas s&oacute; se voc&ecirc; quiser. Eu n&atilde;o fa&ccedil;o quest&atilde;o que venha nas minhas aulas, nem fa&ccedil;a as minhas listas. Vou entrar sem pressa com meu caf&eacute;. Podemos fazer um coffebreak se quiser. &Eacute; f&aacute;cil ver que eu me sinto muuito culpado por n&atilde;o estar dando aula.
            //        | As vezes vou viajar, me exercito... Existe algum outro curso em que voc&ecirc; j&aacute; viu isso antes?
            //        | Que tal uma aula de exerc&iacute;cios?
        .tinder--buttons
            button#nope
                i.fa.fa-times
            button#love
                i.fa.fa-wine-bottle
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src='https://hammerjs.github.io/dist/hammer.min.js')
script(src='javascripts/tinder.js')
